@model Services.Models.Data.BookmarkData

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<h2>Delete this bookmark</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteBookmark","Bookmark",new{bookmarkId = Model.Id},FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(m => Model.Id)
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>